{% extends 'Base/Base.html' %}
{% load static %}

{% block header %}
        <h2>Episodio</h2>
{% endblock %}

{% block content %}
        <div>
        <p>Episodio: {{ episodio.episode }}</p>
        <p>Nombre: {{ episodio.name }}</p>
        <p>Fecha estreno: {{ episodio.air_date }}</p>
        <p>Personajes:
            {% for character in episodio.characters %}
                <a class="btn-link" href="{% url 'character' character.id %}">{{ character.name }}, </a>
            {% endfor %}
        </p>
        </div>
    {% endblock %}